.App {
  background: linear-gradient(145deg, rgb(43, 192, 228) 42%, rgb(234, 236, 198)) 0% 0% / cover; 
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header {
  height: 4rem;
  /* width: 100%; */
  border-bottom: 2px solid white;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  background: rgba(255, 255, 255, 0.3);
}
.logo {
  height: 3.5rem;
  width: 3.5rem;
  background: url("https://i.pinimg.com/564x/a6/06/25/a60625748a61e88e4ae17d53bc286910.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 1px solid white;
}
.title {
  color: white;
  font-weight: bold;
  font-size: 2rem;
  margin-left: 1rem;
}
.messages {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  overflow: auto;
  max-height: calc(100vh - 4rem - 4rem);
  min-height: calc(100vh - 4rem - 4rem);
  padding: 1rem;
}
.message-row {
  display: flex;
  align-items: center;
  width: 100vw;
  flex-direction: row;
}
.message {
  color: white;
  background: black;
  padding: 0.5rem 1rem;
  margin: 0.2rem;
  border-radius: 0.3rem;
  border-left: 10px solid #00bfb6;
  border-right: 10px solid transparent;
  border-top: 10px rgb(43, 192, 228) 42%;
  border-bottom: 10px solid transparent;
  right: -20px;
  top: 6px;
}

.text-input > input

.message-user {
  position: absolute;
  left: 0;
  top: -0.8rem;
  font-size: 0.5rem;
}

.name-picker {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}
.name-picker svg {
  stroke: white;
  cursor: pointer;
}
.name-picker-name {
  color: white;
  margin-right: 0.5rem;
  font-size: 0.8rem;
}



