/*main page info */
.App {
  background:linear-gradient(145deg, rgb(43, 192, 228) 42%, rgb(234, 236, 198)) 0% 0% / cover; 
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/*page header info */
.header {
  height: 4rem;
  width: 100%;
  border-bottom: 2px solid white;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  background: rgba(255, 255, 255, 0.3);
}
/*logo info */
.logo {
  height: 3.5rem;
  width: 3.5rem;
  background: url("https://i.pinimg.com/564x/a6/06/25/a60625748a61e88e4ae17d53bc286910.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 1px solid white;
}
/*Big title info*/
.title {
  color: white;
  font-weight: bold;
  font-size: 2rem;
  margin-left: 1rem;
}
/*footer info same with header*/
.footer {
  height: 4rem;
  width: 100%;
  border-top: 2px solid white;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  background: rgba(255, 255, 255, 0.3);
  position: relative;
}
/*text input bar info*/
.text-input {
  width: 80%;
  border: 2px solid white;
  height: 2rem;
  border-radius: 1rem;
  padding: 0 1rem;
  background: grey;
  color: white;
}
/*send bar info*/
.send {
  background: white;
  border-radius: 60%;
  border: none;
  height: 1.8rem;
  width: 1.8rem;
  position: absolute;
  right: 17rem;
  cursor: pointer;
}

