/*footer info same with header*/
.footer {
    height: 4rem;
    /* width: 100%; */
    border-top: 2px solid white;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    background: rgba(255, 255, 255, 0.3);
    position: relative;
}
/*text input bar info*/
.text-input {
    width: 100%;
    border: 1px solid white;
    height: 2rem;
    border-radius: 1rem;
    padding: 0 1rem;
    background: grey;
    color: white;
  }
/*send bar info*/
.send {
    background: white;
    border-radius: 50%;
    border: none;
    height: 1.7rem;
    width: 1.7rem;
    position: absolute;
    right: 1.15rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .send:hover {
    background: black;
    border: 1px solid white;
  }
  .send:hover svg {
    stroke: white;
  }
  
